<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <style>
        /* Estilos para la página normal */
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-size: 16px;
        }
        @media print {
           @page {
                size: A4;
                margin: 0;
                
            }
            body{
                margin: 1cm;
            }
            #btnContainer{
                display: none;
            }
            
        }
        body {
            font-family: Arial, sans-serif;
            margin: 1cm;
        }

        /* Estilos para la impresión */ 
        .titleRow{
            background: #757575;
            color: #F1F1F1;
            text-align: center;
            padding: 8px;
            font-weight: 700;
        }
        .titleRowColor{
            background: #13A0F2;
            color: #FFFFFF;
            text-align: center;
            padding: 8px;
            font-weight: 700;
        }
        .titleRowColor2{
            background: #13B9AB;
            color: #FFFFFF;
            text-align: center;
            font-weight: 700;
            border: 1px solid #1f1f1f;
        }
        .titleRowColor3{
            background: #FFBE15;
            color: #FFFFFF;
            text-align: center;
            font-weight: 700;
            border: 1px solid #1f1f1f;
            padding: 8px;
        }
        .titleRow-name{
            color: #FFBE15;
        }

        .td1{
            border: 1px solid #1f1f1f;
            padding: 8px;
            background-color: #EDEDED;
            color: #757575;
            font-weight: 700;
            font-size: 14px;
        }
        .tda{
            border: 1px solid #1f1f1f;
            padding: 8px;
            background-color: #13B9AB;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 14px;
        }
        .tdb{
            border: 1px solid #1f1f1f;
            padding: 8px;
            background-color: #85D01D;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 14px;
        }
        .td2{
            border: 1px solid #1f1f1f;
            padding: 8px;
            font-size: 14px;
        }
        .td3{
            padding: 16px 0;
            font-size: 12px;
        }
        .td4{
            border: 1px solid #1f1f1f; 
            padding: 8px 0;
            text-align: center;
            color: #F1F1F1;
            font-weight: 700;
        }
        .th1{
            padding: 16px 0;
            color: #757575;
            font-weight: 700;
            font-size: 12px;
        }
        .page-break {
            page-break-before: always;
        }
       
    </style>
</head>
<body>
    <div id="btnContainer" style="width: 100%;">
        <button id="botonImprimir" style="background-color: #e70e0e;color: #F1F1F1;font-weight: 700; cursor: pointer; margin: 0 auto;padding: 8px 16px; border: none;display: block; border-radius: 8px;">
            Imprimir PDF
        </button>
    </div>
    <div style="border: 1px solid #1f1f1f; margin: 10px 0px;">
        <div class="titleRowColor">
            CENTRO DE COSTOS 2024/ GASTOS OCULTOS ( {{ currency }} )
        </div>
        <div style="display: flex;justify-content: space-between; align-items: center;margin: 16px 0px;">
            <div>
                <table style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tda">Vendedor</td>
                            <td class="td2"> {{ hideCostCenter.seller_name }} </td>
                        </tr>
                        <tr>
                            <td class="tda">Fecha de Envio CC</td>
                            <td class="td2"> {{ hideCostCenter.date_of_send }} </td>
                        </tr>
                        <tr>
                            <td class="tda">Fecha Maxima de Atencion Cliente</td>
                            <td class="td2"> {{ hideCostCenter.max_date_of_costumer_attention }} </td>
                        </tr>
                        <tr>
                            <td class="tda">Fecha Maxima de Atencion Proveedor</td>
                            <td class="td2"> {{ hideCostCenter.max_date_of_provider_attention }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td class="tda">Margen Bruto %</td>
                            <td class="tda">Margen Neto %</td>
                            <td class="tda">Comisión %</td>
                        </tr>
                        <tr>
                            <td class="td2">{{ hideCostCenter.grossMarginPorcent }}</td>
                            <td class="td2">{{ hideCostCenter.netMarginPorcent }}</td>
                            <td class="td2">{{ hideCostCenter.comissionPorcent }}</td>
                        </tr>
                        <tr>
                            <td class="tda">Margen Bruto</td>
                            <td class="tdb">Margen Neto</td>
                            <td class="tdb">Comisión</td>
                        </tr>
                        <tr>
                            <td class="td2">{{ hideCostCenter.grossMargin }}</td>
                            <td class="td2">{{ hideCostCenter.netMargin }}</td>
                            <td class="td2">{{ hideCostCenter.comission }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{!--INICIO TABLA MAIN PRODUCTS --}}
        <div class="titleRowColor">
            Compra de Mercaderia - Mayorista
        </div>
        <table style="border-collapse: collapse; width: 100%;">
            <thead style="background-color: #EDEDED;">
                <tr>
                    <th class="th1">PART NUMBER</th>
                    <th class="th1">DESCRIPCIÓN</th>
                    <th class="th1">CANTIDAD</th>
                    <th class="th1">PRECIO DE COMPRA</th>
                    <th class="th1">PRECIO DE VENTA</th>
                    <th class="th1">PROVEEDOR</th>
                    <th class="th1">TOTAL</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {{#each hideCostCenter.mainProducts}}
                    <tr style="border-bottom: 1px solid #EDEDED;">
                        <td class="td3">{{ partNumber }}</td>
                        <td class="td3">{{ description }}</td>
                        <td class="td3">{{ units }}</td>
                        <td class="td3">{{ purchase_price }}</td>
                        <td class="td3">{{ sale_price }}</td>
                        <td class="td3">{{ provider }}</td>
                        <td class="td3">{{ totalPrice }}</td>
                    </tr>
                {{/each}}       
            </tbody>
        </table>
        {{!--FIN TABLA MAIN PRODUCTS --}}

        {{!--INICIO TABLA EXTRA PRODUCTS --}}
        <div class="titleRowColor">
            Compra de Accesorios - Adicionales - Materiales
        </div>
        <table style="border-collapse: collapse; width: 100%;">
            <thead style="background-color: #EDEDED;">
                <tr>
                    <th class="th1">PART NUMBER</th>
                    <th class="th1">DESCRIPCIÓN</th>
                    <th class="th1">CANTIDAD</th>
                    <th class="th1">PRECIO DE COMPRA</th>
                    <th class="th1">PRECIO DE VENTA</th>
                    <th class="th1">PROVEEDOR</th>
                    <th class="th1">TOTAL</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {{#each hideCostCenter.extraProducts}}
                    <tr style="border-bottom: 1px solid #EDEDED;">
                        <td class="td3">{{ partNumber }}</td>
                        <td class="td3">{{ description }}</td>
                        <td class="td3">{{ units }}</td>
                        <td class="td3">{{ purchase_price }}</td>
                        <td class="td3">{{ sale_price }}</td>
                        <td class="td3">{{ provider }}</td>
                        <td class="td3">{{ totalPrice }}</td>
                    </tr>
                {{/each}}       
            </tbody>
        </table>
        {{!--FIN TABLA EXTRA PRODUCTS --}}

        {{!--INICIO TABLA THIRD PRODUCTS --}}
        <div class="titleRowColor">
            Compra de Servicios con terceros
        </div>
        <table style="border-collapse: collapse; width: 100%;">
            <thead style="background-color: #EDEDED;">
                <tr>
                    <th class="th1">PART NUMBER</th>
                    <th class="th1">DESCRIPCIÓN</th>
                    <th class="th1">CANTIDAD</th>
                    <th class="th1">PRECIO DE COMPRA</th>
                    <th class="th1">PRECIO DE VENTA</th>
                    <th class="th1">PROVEEDOR</th>
                    <th class="th1">TOTAL</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {{#each hideCostCenter.thirdProducts}}
                    <tr style="border-bottom: 1px solid #EDEDED;">
                        <td class="td3">{{ partNumber }}</td>
                        <td class="td3">{{ description }}</td>
                        <td class="td3">{{ units }}</td>
                        <td class="td3">{{ purchase_price }}</td>
                        <td class="td3">{{ sale_price }}</td>
                        <td class="td3">{{ provider }}</td>
                        <td class="td3">{{ totalPrice }}</td>
                    </tr>
                {{/each}}       
            </tbody>
        </table>
        {{!--FIN TABLA THIRD PRODUCTS --}}
        
        {{!--INICIO TABLA TAXES INTERNALS --}}
        <div class="titleRowColor3">
            Gastos Internos Edulink
        </div>
        <table style="border-collapse: collapse; width: 100%;">
            <thead style="background-color: #EDEDED;">
                <tr>
                    <th class="th1">DESCRIPCIÓN</th>
                    <th class="th1"></th>
                    <th class="th1"></th>
                    <th class="th1"></th>
                    <th class="th1"></th>
                    <th class="th1">PROCENTAJE</th>
                    <th class="th1">TOTAL</th>
                </tr>   
            </thead>
            <tbody style="text-align: center;">
                {{#each hideCostCenter.selfSpends}}
                    <tr style="border-bottom: 1px solid #EDEDED;">
                        <td colspan="5" class="td3">{{ description }}</td>
                        <td class="td3">{{ porcentage }}</td>
                        <td class="td3">{{ totalPrice }}</td>
                    </tr>
                {{/each}}   
            </tbody>
        </table>
        {{!--FIN TABLA TAXES INTERNALS --}}

        <div class="titleRowColor2">
            <span style="border-right: 1px solid #1f1f1f;padding: 8px;display: inline-block;width: 70%; text-align: center;">COSTOS OCULTOS DEL PROYECTO</span> <span style="display: inline-block;text-align: center;"> {{ hideCostCenter.total }} </span>
        </div>
    </div>
    {{!--QUIEBRE DE PÁGINA --}}
    <div class="page-break"></div>
    {{!--QUIEBRE DE PÁGINA --}}
    <div style="border: 1px solid #1f1f1f;margin: 1.5cm 0cm;">
        <div class="titleRow">
            COTIZACION CLIENTE FINAL <span class="titleRow-name">{{ name }}</span>
        </div>
        {{!--INICIO TABLA 1 --}}
        <table style="border-collapse: collapse; width: 100%; margin: 16px 0;">
            <thead>
                <tr>
                    <th style=""></th>
                    <th style=""></th>
                    <th style=""></th>
                    <th style=""></th>
                </tr>
            </thead>
            <tbody style="">
                <tr>
                    <td class="td1">Nombre Comercial</td>
                    <td class="td2">{{ final_costumer }}</td>
                    <td class="td1">Razón social</td>
                    <td class="td2">{{ costumerName }}</td>
                </tr>
                <tr>
                    <td class="td1">Orden de compra</td>
                    <td class="td2">{{ purchase_order }}</td>
                    <td class="td1">RUC</td>
                    <td class="td2">{{ ruc }}</td>
                </tr>
                <tr>
                    <td class="td1">Teléfono / Celular</td>
                    <td class="td2">{{ phone }}</td>
                    <td class="td1">Tipo de cambio</td>
                    <td class="td2">{{ currency }}</td>
                </tr>
                <tr>
                    <td class="td1">Correo</td>
                    <td class="td2">{{ email }}</td>
                    <td class="td1">Condiciones de Pago Cliente</td>
                    <td class="td2">{{ type_of_payment }}</td>
                </tr>
                <tr>
                    <td class="td1">Dirección de entrega</td>
                    <td class="td2">{{ destiny_address }}</td>
                    <td class="td1">Persona que recibe</td>
                    <td class="td2">{{ destiny_person }}</td>
                </tr>
            </tbody>
        </table>
        {{!--FIN TABLA 1 --}}

        {{!--INICIO TABLA FACTURACION --}}
        <div class="titleRow">
            CONTACTOS DE FACTURACIÓN
        </div>
        <table style="border-collapse: collapse; width: 100%; margin: 16px 0;">
            <thead>
                <tr>
                    <th style=""></th>
                    <th style=""></th>
                    <th style=""></th>
                    <th style=""></th>
                </tr>
            </thead>
            <tbody style="">
                <tr>
                    <td class="td1">Correo de facturación</td>
                    <td class="td2">{{ invoice_email }}</td>
                    <td class="td1">Responsable de facturación</td>
                    <td class="td2">{{ invoice_manager }}</td>
                </tr>
                <tr>
                    <td class="td1">Correo de cobranza</td>
                    <td class="td2">{{ biller_email }}</td>
                    <td class="td1">Responsable de cobranza</td>
                    <td class="td2">{{ biller_manager }}</td>
                </tr>
                
            </tbody>
        </table>
        {{!--FIN TABLA FACTURACION --}}


        <div class="titleRow">
            COMENTARIOS
        </div>
        <div style="width: 100%;">
            <p style="padding: 16px 8px;font-size: 14px;">
                {{ commentary }}
            </p>
        </div>
        <div class="titleRow">
            DATOS DE FACTURACION CLIENTE
        </div>
        {{!--INICIO TABLA 2 --}}
        <table style="border-collapse: collapse; width: 100%;">
            <thead style="background-color: #EDEDED;">
                <tr>
                    <th class="th1">PART NUMBER</th>
                    <th class="th1">DESCRIPCIÓN</th>
                    <th class="th1">UNIDADES</th>
                    <th class="th1">PRECIO DE VENTA</th>
                    <th class="th1">TOTAL</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {{#each products}}
                    <tr style="border-bottom: 1px solid #EDEDED;">
                        <td class="td3">{{ partNumber }}</td>
                        <td class="td3">{{ description }}</td>
                        <td class="td3">{{ units }}</td>
                        <td class="td3">{{ sale_price }}</td>
                        <td class="td3">{{ totalPrice }}</td>
                    </tr>
                {{/each}}       
            </tbody>
        </table>
        {{!--FIN TABLA 2 --}}
        {{!--INICIO TABLA 3 --}}
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="width: 80%;"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: #757575;">
                    <td class="td4">SUB TOTAL VENTA SIN IGV</td>
                    <td class="td4">{{ ammountWithOutTaxes }}</td>
                </tr>
                <tr style="background-color: #757575;">
                    <td class="td4">IGV</td>
                    <td class="td4">{{ ammountTaxes }}</td>
                </tr>
                <tr style="background-color: #757575;">
                    <td class="td4">TOTAL</td>
                    <td class="td4">{{ total }}</td>
                </tr>
            </tbody>
        </table>
        {{!--FIN TABLA 3 --}}
    </div>
    <script>
        const pdfBtn = document.getElementById('botonImprimir');
        pdfBtn.addEventListener('click',()=>{
            window.print()
        })
    </script>
</body>
</html>
