<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <style>
        /* Estilos para la página normal */
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-size: 16px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 1cm;
        }

        /* Estilos para la impresión */
        @media print {
           @page {
                size: A4;
                margin: 0;
                
            }
            body{
                margin: 1cm;
            }
        }
        .titleRow{
            background: #757575;
            color: #F1F1F1;
            text-align: center;
            padding: 8px;
            font-weight: 700;
        }
        .titleRow-name{
            color: #FFBE15;
        }

        .td1{
            border: 1px solid #1f1f1f;
            padding: 8px;
            background-color: #EDEDED;
            color: #757575;
            font-weight: 700;
            font-size: 14px;
        }
        .td2{
            border: 1px solid #1f1f1f;
            padding: 8px;
            font-size: 14px;
        }
        .td3{
            padding: 16px 0;
            font-size: 12px;
        }
        .td4{
            border: 1px solid #1f1f1f; 
            padding: 8px 0;
            text-align: center;
            color: #F1F1F1;
            font-weight: 700;
        }
        .th1{
            padding: 16px 0;
            color: #757575;
            font-weight: 700;
            font-size: 12px;
        }
       
    </style>
</head>
<body>
    <div style="border: 1px solid #1f1f1f;">
        <div class="titleRow">
        COTIZACION CLIENTE FINAL <span class="titleRow-name">{{ name }}</span>
        </div>
        {{!--INICIO TABLA 1 --}}
        <table style="border-collapse: collapse; width: 100%; margin: 16px 0;">
            <thead>
                <tr>
                    <th style=""></th>
                    <th style=""></th>
                    <th style=""></th>
                    <th style=""></th>
                </tr>
            </thead>
            <tbody style="">
                <tr>
                    <td class="td1">Nombre Comercial</td>
                    <td class="td2">{{ final_costumer }}</td>
                    <td class="td1">Razón social</td>
                    <td class="td2">{{ costumerName }}</td>
                </tr>
                <tr>
                    <td class="td1">Orden de compra</td>
                    <td class="td2">{{ purchase_order }}</td>
                    <td class="td1">RUC</td>
                    <td class="td2">{{ ruc }}</td>
                </tr>
                <tr>
                    <td class="td1">Teléfono / Celular</td>
                    <td class="td2">{{ phone }}</td>
                    <td class="td1">Tipo de cambio</td>
                    <td class="td2">{{ currency }}</td>
                </tr>
                <tr>
                    <td class="td1">Correo</td>
                    <td class="td2">{{ email }}</td>
                    <td class="td1">Condiciones de Pago Cliente</td>
                    <td class="td2">{{ type_of_payment }}</td>
                </tr>
                <tr>
                    <td class="td1">Dirección de entrega</td>
                    <td class="td2">{{ destiny_address }}</td>
                    <td class="td1">Persona que recibe</td>
                    <td class="td2">{{ destiny_person }}</td>
                </tr>
            </tbody>
        </table>
        {{!--FIN TABLA 1 --}}
        <div class="titleRow">
            COMENTARIOS
        </div>
        <div style="width: 100%;">
            <p style="padding: 16px 8px;font-size: 14px;">
                {{ commentary }}
            </p>
        </div>
        <div class="titleRow">
            DATOS DE FACTURACION CLIENTE
        </div>
        {{!--INICIO TABLA 2 --}}
        <table style="border-collapse: collapse; width: 100%;">
            <thead style="background-color: #EDEDED;">
                <tr>
                    <th class="th1">PART NUMBER</th>
                    <th class="th1">DESCRIPCIÓN</th>
                    <th class="th1">UNIDADES</th>
                    <th class="th1">PRECIO DE VENTA</th>
                    <th class="th1">TOTAL</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {{#each products}}
                    <tr style="border-bottom: 1px solid #EDEDED;">
                        <td class="td3">{{ partNumber }}</td>
                        <td class="td3">{{ description }}</td>
                        <td class="td3">{{ units }}</td>
                        <td class="td3">{{ sale_price }}</td>
                        <td class="td3">{{ totalPrice }}</td>
                    </tr>
                {{/each}}       
            </tbody>
        </table>
        {{!--FIN TABLA 2 --}}
        {{!--INICIO TABLA 3 --}}
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="width: 80%;"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: #757575;">
                    <td class="td4">SUB TOTAL VENTA SIN IGV</td>
                    <td class="td4">{{ ammountWithOutTaxes }}</td>
                </tr>
                <tr style="background-color: #757575;">
                    <td class="td4">IGV</td>
                    <td class="td4">{{ ammountTaxes }}</td>
                </tr>
                <tr style="background-color: #757575;">
                    <td class="td4">TOTAL</td>
                    <td class="td4">{{ total }}</td>
                </tr>
            </tbody>
        </table>
        {{!--FIN TABLA 3 --}}
    </div>
</body>
</html>
